.cap-title-text__content{
    padding: 32px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

.cap-title-text__link{
    position: absolute;
    right: 32px;
    top: 40px;
    font-size: 24px;
}

.link{
    position: absolute;
    right: 16px;

}